In [1]:
import numpy as np
import pandas as pd

inFile = "WaterStocks.csv"
df = pd.read_csv(inFile, parse_dates=True, index_col=1)

In [2]:
df.head()

,PERMNO,TICKER,COMNAM,PERMCO,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
date,,,,,,,,,,,,,,,,,,,,
1997-01-02,26463,CTWS,CONNECTICUT WATER SERVICE INC,1191,29.000,30.0,29.25,1216,0.000000,29.000,30.0,3011,29.250,6.0,0.000000,-0.007358,-0.007403,0.001325,0.001294,-0.005036
1997-01-03,26463,CTWS,CONNECTICUT WATER SERVICE INC,1191,29.250,30.0,29.25,1850,0.000000,29.250,30.0,3011,30.000,5.0,0.000000,0.013491,0.013451,0.012477,0.012428,0.014952
1997-01-06,26463,CTWS,CONNECTICUT WATER SERVICE INC,1191,29.250,30.0,29.25,3226,0.000000,29.250,30.0,3011,29.250,8.0,0.000000,0.000697,0.000680,0.005099,0.005086,-0.000508
1997-01-07,26463,CTWS,CONNECTICUT WATER SERVICE INC,1191,29.125,30.0,29.75,2233,0.017094,29.125,30.0,3011,29.125,5.0,0.017094,0.007357,0.007305,0.007338,0.007329,0.007463
1997-01-08,26463,CTWS,CONNECTICUT WATER SERVICE INC,1191,29.125,30.0,30.00,2252,0.008403,29.125,30.0,3011,29.125,6.0,0.008403,-0.003754,-0.003971,0.004376,0.004304,-0.006399

In [3]:
df.tail()

,PERMNO,TICKER,COMNAM,PERMCO,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
date,,,,,,,,,,,,,,,,,,,,
2008-12-24,71475,AWR,AMERICAN STATES WATER CO,4350,32.16,33.11,32.65,27200,0.012717,32.65,32.65,17289,32.16,NaN,0.012717,0.004514,0.004069,0.005042,0.004547,0.005781
2008-12-26,71475,AWR,AMERICAN STATES WATER CO,4350,32.28,33.04,32.71,38600,0.001838,32.71,32.78,17289,32.62,NaN,0.001838,0.007191,0.007157,0.011107,0.010885,0.005356
2008-12-29,71475,AWR,AMERICAN STATES WATER CO,4350,30.36,32.71,30.78,170800,-0.059003,30.78,30.85,17289,32.71,NaN,-0.059003,-0.004366,-0.004747,-0.015163,-0.015756,-0.003873
2008-12-30,71475,AWR,AMERICAN STATES WATER CO,4350,30.30,32.33,30.30,484500,-0.015595,31.99,32.15,17289,31.02,NaN,-0.015595,0.024766,0.024608,0.021418,0.021245,0.024407
2008-12-31,71475,AWR,AMERICAN STATES WATER CO,4350,30.37,33.36,32.98,321700,0.088449,32.94,32.98,17289,30.40,NaN,0.088449,0.017405,0.017386,0.034456,0.034415,0.014158

In [9]:
permnos = list(set(df.PERMNO.values))

In [10]:
permnos

[52898, 71475, 26463]

In [11]:
tmp = df[df.PERMNO == permnos[0]]

In [12]:
tmp.head()

,PERMNO,TICKER,COMNAM,PERMCO,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
date,,,,,,,,,,,,,,,,,,,,
1997-01-02,52898,PSC,PHILADELPHIA SUBURBAN CORP,21397,19.50,19.875,19.500,19600,-0.018868,19.375,19.750,19011,19.75,NaN,-0.018868,-0.007358,-0.007403,0.001325,0.001294,-0.005036
1997-01-03,52898,PSC,PHILADELPHIA SUBURBAN CORP,21397,19.75,20.250,20.250,11300,0.038462,20.000,20.375,19011,19.75,NaN,0.038462,0.013491,0.013451,0.012477,0.012428,0.014952
1997-01-06,52898,PSC,PHILADELPHIA SUBURBAN CORP,21397,20.00,20.250,20.125,10800,-0.006173,19.875,20.250,19011,20.25,NaN,-0.006173,0.000697,0.000680,0.005099,0.005086,-0.000508
1997-01-07,52898,PSC,PHILADELPHIA SUBURBAN CORP,21397,20.00,20.125,20.000,8100,-0.006211,19.875,20.250,19011,20.00,NaN,-0.006211,0.007357,0.007305,0.007338,0.007329,0.007463
1997-01-08,52898,PSC,PHILADELPHIA SUBURBAN CORP,21397,20.00,20.250,20.125,16000,0.006250,20.000,20.375,19011,20.00,NaN,0.006250,-0.003754,-0.003971,0.004376,0.004304,-0.006399

In [13]:
tmp.tail()

,PERMNO,TICKER,COMNAM,PERMCO,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
date,,,,,,,,,,,,,,,,,,,,
2008-12-24,52898,WTR,AQUA AMERICA INC,21397,19.52,20.20,20.08,263100,0.005508,20.03,20.05,135164,19.86,NaN,0.005508,0.004514,0.004069,0.005042,0.004547,0.005781
2008-12-26,52898,WTR,AQUA AMERICA INC,21397,19.87,20.14,20.13,335200,0.002490,20.11,20.13,135164,19.99,NaN,0.002490,0.007191,0.007157,0.011107,0.010885,0.005356
2008-12-29,52898,WTR,AQUA AMERICA INC,21397,19.49,20.05,20.00,1044400,-0.006458,19.97,20.00,135164,19.82,NaN,-0.006458,-0.004366,-0.004747,-0.015163,-0.015756,-0.003873
2008-12-30,52898,WTR,AQUA AMERICA INC,21397,19.00,20.74,19.00,1924300,-0.050000,20.61,20.63,135164,20.24,NaN,-0.050000,0.024766,0.024608,0.021418,0.021245,0.024407
2008-12-31,52898,WTR,AQUA AMERICA INC,21397,19.27,20.68,20.59,1240100,0.083684,20.57,20.60,135164,19.27,NaN,0.083684,0.017405,0.017386,0.034456,0.034415,0.014158

In [14]:
ind = (df.PERMNO == permnos[1])

In [16]:
df[ind].head()

,PERMNO,TICKER,COMNAM,PERMCO,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
date,,,,,,,,,,,,,,,,,,,,
1997-01-02,71475,SCW,SOUTHERN CALIFORNIA WATER CO,4350,21.750,22.000,21.875,7300,0.005747,21.875,22.000,7878,21.875,NaN,0.005747,-0.007358,-0.007403,0.001325,0.001294,-0.005036
1997-01-03,71475,SCW,SOUTHERN CALIFORNIA WATER CO,4350,21.750,22.375,21.875,11400,0.000000,21.750,22.000,7878,22.125,NaN,0.000000,0.013491,0.013451,0.012477,0.012428,0.014952
1997-01-06,71475,SCW,SOUTHERN CALIFORNIA WATER CO,4350,21.875,22.250,22.000,18300,0.005714,21.875,22.250,7878,21.875,NaN,0.005714,0.000697,0.000680,0.005099,0.005086,-0.000508
1997-01-07,71475,SCW,SOUTHERN CALIFORNIA WATER CO,4350,21.875,22.250,22.000,19600,0.000000,22.000,22.125,7878,22.125,NaN,0.000000,0.007357,0.007305,0.007338,0.007329,0.007463
1997-01-08,71475,SCW,SOUTHERN CALIFORNIA WATER CO,4350,22.000,22.250,22.250,7700,0.011364,22.000,22.375,7878,22.000,NaN,0.011364,-0.003754,-0.003971,0.004376,0.004304,-0.006399

In [17]:
df[ind].tail()

,PERMNO,TICKER,COMNAM,PERMCO,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
date,,,,,,,,,,,,,,,,,,,,
2008-12-24,71475,AWR,AMERICAN STATES WATER CO,4350,32.16,33.11,32.65,27200,0.012717,32.65,32.65,17289,32.16,NaN,0.012717,0.004514,0.004069,0.005042,0.004547,0.005781
2008-12-26,71475,AWR,AMERICAN STATES WATER CO,4350,32.28,33.04,32.71,38600,0.001838,32.71,32.78,17289,32.62,NaN,0.001838,0.007191,0.007157,0.011107,0.010885,0.005356
2008-12-29,71475,AWR,AMERICAN STATES WATER CO,4350,30.36,32.71,30.78,170800,-0.059003,30.78,30.85,17289,32.71,NaN,-0.059003,-0.004366,-0.004747,-0.015163,-0.015756,-0.003873
2008-12-30,71475,AWR,AMERICAN STATES WATER CO,4350,30.30,32.33,30.30,484500,-0.015595,31.99,32.15,17289,31.02,NaN,-0.015595,0.024766,0.024608,0.021418,0.021245,0.024407
2008-12-31,71475,AWR,AMERICAN STATES WATER CO,4350,30.37,33.36,32.98,321700,0.088449,32.94,32.98,17289,30.40,NaN,0.088449,0.017405,0.017386,0.034456,0.034415,0.014158